<app-navbar></app-navbar>
<div class="W-100 m-4">
    <button class="btn1 btn btn-primary" [matMenuTriggerFor]="menu">Search by category</button>
    <div>
        <mat-menu #menu="matMenu" yPosition="above">
            <button class="btn1" (click)="getByCategory('Clooth')" mat-menu-item>Clooth </button>
            <button class="btn1" (click)="getByCategory('Food')" mat-menu-item>Food</button>
            <button class="btn1" (click)="getByCategory('Sport')" mat-menu-item>Sport</button>
        </mat-menu>
    </div>
</div>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-3" *ngFor="let product of products">
            <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                    <img class="card-img rounded-0 img-fluid" [src]="product.image" style="height: 300px;">
                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                        <ul class="list-unstyled">
                            <li><a class="btn btn-primary text-white mt-2" (click)="getViewProduct(product)"><i class="far fa-eye"></i></a></li>
                            <li><a class="btn btn-primary text-white mt-2" (click)="addToCart(product.id ,  product.name , product.image , product.price , product.quantity)"><i class="fas fa-cart-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <a href="shop-single.html" class="h3 text-decoration-none">{{ product.name }}</a>
                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        <li>M/L/X/XL</li>
                        <li class="pt-2">
                            <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                        </li>
                    </ul>
                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                        <li>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                        </li>
                    </ul>
                    <p class="text-center mb-0">${{ product.price}}</p>
                </div>
            </div>
        </div>

        <div div="row">
            <ul class="pagination pagination-lg justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                </li>
            </ul>
        </div>

    </div>

    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>